main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

#container-search {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 100px;
  z-index: 1;
}

#search {
  display: flex;
  position: relative;
}

@media (max-width: 375px) {
  #container-search {
    margin-right: 40px;
    zoom: 0.75;
  }
}

#search label {
  display: flex;
  position: relative;
  left: 395px;
  top: 25px;
}

#searchInput:focus {
  outline-width: 0;
  border: #9052fd 2.5px solid;
  cursor: text;
}

#searchInput:hover {
  border: #9052fd 2.5px solid;
  cursor: text;
}

.main-post-body {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  top: -150px;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

.card-wrapper__card {
  margin: 20px;
  zoom: 0.5;
}

@media (max-width: 375px) {
  .card-wrapper__card {
    margin-right: 40px;
    zoom: 0.6;
  }
}
