/* =================
Contact Page
================= */

.contact-page-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background: #f7fafd;
  height: 100vh;
  width: 50%;
  min-width: 375px;
}

.contact-page-frame h1 {
  padding-bottom: 10px;
  letter-spacing: 0.1em;
  font-size: 1.9em;
}

.contact-page-frame p {
  padding-bottom: 10px;
  font-size: 0.7em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  max-width: 600px;
}

input {
  display: block;
  position: relative;
  font-size: 0.9rem;
  height: 2.4rem;
  background: #ffffff;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 360px;
  border: none;
  padding-left: 20px;
  color: #bab9be;
  margin-top: 20px;
}

input:focus {
  outline-width: 0;
  border: #9052fd 2.5px solid;
  cursor: text;
}

input:hover {
  border: #9052fd 2.5px solid;
  cursor: text;
}

#mc_embed_signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  #mc_embed_signup {
    zoom: 0.7;
  }
}

#mc-embedded-subscribe {
  margin: 30px auto;
  height: 40px;
  width: 120px;
  background-color: #8f44fd;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.06);
  padding-right: 18px;
}

#mc-embedded-subscribe:hover {
  background-color: #6b3cbb;
}

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.response {
  display: block;
  position: relative;
  background-color: #f7fafd;
  color: #9052fd;
  font-weight: 900;
  margin-top: 20px;
  width: 100%;
  height: 410px;
  margin: 10px, auto;
  text-align: center;
  font-size: 0.6em;
  background-image: url(https://media.giphy.com/media/3otPoOxyDTXjzpMbIY/giphy.gif?cid=ecf05e474es8dd8oqq4p77ynans9ku60v1mp97dbpwd3htsm&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  /********** Main Content *********/

  .content {
    padding: 2rem;
    transition: 0.3s all ease;
  }
  .shift {
    margin-left: 0px;
    transition: 0.3s all ease;
  }
}

#map {
  height: 100vh;
  width: 50%;
}

.gm-style-iw-d {
  color: black;
}

.page-container-map {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fafd;
}

@media (max-width: 375px) {
  .page-container-map {
    flex-direction: column;
  }

  #map {
    height: 500px;
    width: 100%;
  }
}
