body {
  font-family: "Nunito", serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 100px;
}

#postTitle {
  margin-top: 140px;
  margin-bottom: 25px;
  font-size: 2/5rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

@media (max-width: 768px) {
  h2 {
    margin-bottom: 70px;
    zoom: 0.75;
  }
}

@media (max-width: 375px) {
  h1 {
    zoom: 0.5;
    padding-top: 60px;
  }

  h2 {
    zoom: 0.6;
  }

  p {
    zoom: 0.8;
  }
}

#postContent {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 70, 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  padding: 30px;
  border-radius: 20px;
  top: -60px;
}

#post-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  font-family: "Nunito", serif;
  font-weight: 500;
  color: #77838f;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
}

p {
  margin-bottom: 30px;
  text-align: justify;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure {
  position: relative;
  padding: 0 15px 0 0;
}

#postComments {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 70, 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  padding: 30px;
  border-radius: 20px;
  top: 60px;
  color: #9052fd;
  font-weight: 600;
}

@media (max-width: 375px) {
  #postComments {
    zoom: 0.6;
  }
}

#postCommentsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  background-color: #fff;
  color: #757575;
  margin-left: 0px;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  border: #9052fd 2px solid;
  box-shadow: none;
}

.name:hover {
  border: #9052fd 2px solid;
}

.email {
  background-color: #fff;
  color: #757575;
  margin-left: 0px;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  border: #9052fd 2px solid;
  margin-bottom: 10px;
  box-shadow: none;
}

.email:hover {
  border: #9052fd 2px solid;
}

#subject {
  background-color: #fff;
  max-width: 60rem;
  width: 60vw;
  border: #9052fd 2px solid;
  font-size: 0.9rem;
  font-family: "Nunito", serif;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fff;
}

#subject:focus {
  outline-width: 0;
  border: #9052fd 2px solid;
}

.avatar2 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid #8f44fd;
}

.detailz {
  display: flex;
  display: space-between;
}

.cardP {
  margin-left: 120px;
}

.details {
  margin-left: 20px;
  margin-top: 20px;
}

.cardContainer {
  display: block;
  position: relative;
  font-size: 0.9rem;
  background: #ffffff;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 20px;
  border: none;
  font-family: "Nunito", serif;
  cursor: pointer;
  margin-bottom: 20px;
}

input {
  display: block;
  position: relative;
  font-size: 0.9rem;
  height: 2.4rem;
  background: #ffffff;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 8rem;
  border: none;
  padding-right: 25px;
  color: #fff;
  background-color: #9052fd;
  margin-top: 10px;
  font-family: "Nunito", serif;
  cursor: pointer;
}

input:focus {
  outline-width: 0;
  border: #9052fd 2.5px solid;
  cursor: text;
}

input:hover {
  border: #9052fd 2.5px solid;
  cursor: text;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formSent {
  display: none;
  visibility: hidden;
  height: 0;
}

#sentComment {
  margin-top: 20px;
  color: #fff;
  background-color: #9052fd;
  padding: 20px 40px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
}

.refreshShow {
  display: none;
  visibility: hidden;
  height: 0;
}

#postDate {
  display: none;
  visibility: hidden;
  height: 0;
}

#postComments {
  position: relative;
  margin-top: -30px;
}

.comments {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  /********** Main Content *********/

  .content {
    padding: 2rem;
    transition: 0.3s all ease;
  }
  .shift {
    margin-left: 0px;
    transition: 0.3s all ease;
  }
}
