/* =================
Font Colours
================= */
/* =================
Background Colours
================= */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  top: 170px;
  padding-right: 100px;
  min-width: 850px;
}

.harry-pic {
  position: relative;
  height: 165px;
  width: 165px;
  border: 4px solid #8f44fd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px;
  left: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-name {
  position: absolute;
  height: 48px;
  left: 26%;
  right: 45.73%;
  top: calc(50% - 48px / 2 - 75px);
  width: 100%;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.425px;
}

.profile-header {
  position: absolute;
  height: 48px;
  width: 100%;
  left: 26%;
  right: 13.33%;
  top: calc(50% - 48px / 2 - 27px);
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.425px;
}

.profile-copy {
  position: absolute;
  margin: 0;
  max-width: 500px;
  left: 26%;
  right: 0%;
  top: 52.43%;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #77838f;
}

.social-media-icons i {
  color: #8f44fd;
}

.social-media-icons {
  position: absolute;
  width: 148.73px;
  height: 22.22px;
  left: 590px;
  top: 155px;
  margin: 0, 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}

/* =================
Typography
================= */
h1,
h2,
h3,
p {
  font-family: "Nunito", serif;
  font-weight: 300;
  color: #77838f;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: #8f44fd;
}

strong {
  font-weight: 700;
}

/* =================
Navigation
================= */
.hi-logo {
  height: 30px;
  margin: 10px;
  width: auto;
}

nav {
  height: 50px;
  position: fixed;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  z-index: 2;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20%;
}

nav li {
  margin-left: 6em;
}

nav a {
  text-decoration: none;
  color: #77838f;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 0.25em 0;
  position: fixed;
  top: 13.5px;
}

nav a:hover,
nav a:focus {
  color: #8f44fd;
  font-size: 0.82rem;
}

.current-page:hover {
  border-bottom: 1px solid #8f44fd;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  top: 150px;
  height: 200px;
  border-radius: 5px;
  left: 60px;
  padding: 0px;
}

.harry-pic {
  position: relative;
  height: 160px;
  border: 4px solid #8f44fd;
  border-radius: 95px;
  -o-object-fit: cover;
     object-fit: cover;
  left: -280px;
}

.profile-name {
  position: absolute;
  height: 48px;
  width: 50%;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.425px;
}

.profile-header {
  position: absolute;
  height: 48px;
  width: 60%;
  font-family: Nunito;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.425px;
}

.profile-copy {
  position: absolute;
  width: 80%;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #77838f;
}

.social-media-icons i {
  color: #8f44fd;
}

.social-media-icons {
  position: relative;
  top: 207px;
  left: 130px;
}

/* Solid border */
hr.solid {
  position: relative;
  border-top: 1px solid rgba(140, 139, 139, 0.3);
  width: 500px;
  top: 200px;
  margin: 0, auto;
  height: 1px;
}

/* =================
Post Containers
================= */
.main-post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2%;
}

main {
  height: 100%;
}

.container-post {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 560px;
  height: 560px;
  top: 220px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  margin: 10px;
}

.container-post img {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 3px;
}

.container-post h3,
p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-post p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.container-post button {
  margin-left: 230px;
  background-color: #8f44fd;
  color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 0.4rem;
  background: #8f44fd;
  border: none;
}

.container-post button:hover {
  background: #8f44fd;
}

.post-date {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: #bab9be;
  color: white;
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  background: #77838f;
  bottom: 40px;
  border: none;
  z-index: 1;
  font-size: 0.85rem;
  padding-left: 9px;
  padding-top: 1px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 300px;
  -ms-flex-item-align: center;
      align-self: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pagination a.active {
  color: white;
  background-color: #8f44fd;
  float: left;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}

/* =================
Stay in the know Section
================= */
.stay-in-the-know {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f7fafd;
  height: 400px;
}

.stay-in-the-know h1, p {
  padding-bottom: 10px;
}

.email-submission {
  position: relative;
  font-size: 0.7rem;
  height: 2.4rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 300px;
  border: none;
  padding-left: 20px;
  color: #bab9be;
}

.stay-in-the-know button {
  position: relative;
  height: 30px;
  width: 30px;
  bottom: 33.5px;
  right: -130px;
  background-color: #8f44fd;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  padding-top: 2px;
}

/* =================
Final Section
================= */
.finalsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
}
/*# sourceMappingURL=style.css.map */