/* =================
Font Colours
================= */
/* =================
Background Colours
================= */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  top: 170px;
  padding-right: 100px;
  min-width: 850px;
}

.harry-pic {
  position: relative;
  height: 165px;
  width: 165px;
  border: 4px solid #8f44fd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px;
  left: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-name {
  position: absolute;
  height: 48px;
  left: 26%;
  right: 45.73%;
  top: calc(50% - 48px / 2 - 75px);
  width: 100%;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.425px;
}

.profile-header {
  position: absolute;
  height: 48px;
  width: 100%;
  left: 26%;
  right: 13.33%;
  top: calc(50% - 48px / 2 - 27px);
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.425px;
}

.profile-copy {
  position: absolute;
  margin: 0;
  max-width: 500px;
  left: 26%;
  right: 0%;
  top: 52.43%;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #77838f;
}

.social-media-icons i {
  color: #8f44fd;
}

.social-media-icons {
  position: absolute;
  width: 148.73px;
  height: 22.22px;
  left: 590px;
  top: 155px;
  margin: 0, 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  height: 100vh;
}

/* =================
Typography
================= */
h1,
h2,
h3, a {
  font-family: "Nunito", serif;
  font-weight: 300;
  color: #77838f;
  margin-top: 0;
  letter-spacing: 0.05em;
}

p {
  font-family: "Nunito", serif;
  font-weight: 300;
  color: #77838f;
  margin-top: 0;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 0.06em;
}

a {
  color: #8f44fd;
}

strong {
  font-weight: 700;
}

/* =================
Navigation
================= */
.hi-logo {
  height: 30px;
  margin: 10px;
  width: auto;
}

nav {
  height: 50px;
  position: fixed;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  z-index: 2;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20%;
}

nav li {
  margin-left: 6em;
}

nav a {
  text-decoration: none;
  color: #77838f;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 0.25em 0;
  position: fixed;
  top: 11px;
}

nav a:hover,
nav a:focus {
  color: #8f44fd;
  font-size: 0.82rem;
}

.current-page:hover {
  border-bottom: 1px solid #8f44fd;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
  top: 150px;
  border-radius: 5px;
  right: 105px;
}

.harry-pic {
  position: relative;
  border: 4px solid #8f44fd;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 105px;
  bottom: 20px;
}

.profile-name {
  position: relative;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.425px;
}

.profile-header {
  position: relative;
  font-family: Nunito;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 1.425px;
}

.profile-copy {
  position: relative;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #77838f;
  letter-spacing: 0.03em;
}

.social-media-icons {
  position: relative;
  top: 11px;
  left: 490px;
}

.social-media-icons i {
  color: #8f44fd;
}

/* Solid border */
hr.solid {
  position: relative;
  border-top: 1px solid rgba(140, 139, 139, 0.3);
  width: 500px;
  top: 180px;
  margin: 0, auto;
  height: 1px;
}

/* =================
Post Containers
================= */
.main-post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -45px;
}

.container-post {
  position: relative;
  width: 560px;
  height: 590px;
  top: 250px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  margin: 15px;
  border-radius: 5px;
}

.container-post img {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 3px;
}

.container-post h3,
p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-post p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0.95em;
  text-align: center;
}

.container-post button {
  position: relative;
  margin-top: 15px;
  margin-left: 230px;
  background-color: #8f44fd;
  color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 0.4rem;
  background: #8f44fd;
  border: none;
}

.container-post button:hover {
  background: #8f44fd;
}

.post-date {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: #bab9be;
  color: white;
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  background: #77838f;
  bottom: 40px;
  border: none;
  z-index: 1;
  font-size: 0.85rem;
  padding-left: 9px;
  padding-top: 1px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 300px;
}

.pagination a {
  color: #747f8b;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pagination a.active {
  color: white;
  background-color: #8f44fd;
  float: left;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}

/* =================
Stay in the know Section
================= */
.stay-in-the-know {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f7fafd;
  height: 340px;
}

.stay-in-the-know h1 {
  padding-bottom: 10px;
  letter-spacing: 0.13em;
}

.stay-in-the-know p {
  padding-bottom: 10px;
}

.email-submission {
  position: relative;
  font-size: 0.7rem;
  height: 2.4rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 300px;
  border: none;
  padding-left: 20px;
  color: #9b9a9f;
  margin-top: 20px;
}

.stay-in-the-know button {
  position: relative;
  height: 30px;
  width: 30px;
  bottom: 37px;
  right: -130px;
  background-color: #8f44fd;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}

/* =================
Final Section
================= */
.finalsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 320px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 300px;
}

.finalsection p {
  width: 300px;
  left: 300px;
  font-size: 14px;
}

.finalsection .closing-address {
  padding-bottom: 82px;
  margin: 0;
}

.closing-address h3 {
  padding-left: 72px;
  padding-top: 75px;
  margin: 0;
  font-size: 16px;
  line-height: 5px;
  font-weight: bold;
}

hr.solid2 {
  position: relative;
  border-top: 1px solid rgba(140, 139, 139, 0.3);
  width: 100%;
  top: 260px;
  margin: 0, auto;
  height: 1px;
}

.legals-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.legals {
  position: relative;
  text-align: center;
  margin: 0, auto;
  top: 255px;
  font-size: 10px;
}

/* =================
Media queries
================= */
@media only screen and (max-width: 724px) {
  nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 20%;
  }
  nav li {
    margin-left: 4em;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .profile {
    max-width: 20px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .harry-pic {
    position: absolute;
    height: 100px;
    width: 100px;
    border: 4px solid #8f44fd;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    left: 74px;
    top: -50px;
  }
  .profile-name {
    position: absolute;
    height: 48px;
    width: 390px;
    font-family: Nunito;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 1.425px;
    left: 54px;
    top: 55px;
    font-size: 25px;
  }
  .profile-header {
    position: absolute;
    height: 48px;
    width: 390px;
    font-family: Nunito;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 1.425px;
    left: -28px;
    top: 90px;
    font-size: 25px;
  }
  .profile-copy {
    position: absolute;
    height: 48px;
    width: 300px;
    line-height: 20px;
    font-family: Nunito;
    font-size: 13px;
    left: -23px;
    top: 156px;
    text-align: center;
  }
  .social-media-icons i {
    color: #8f44fd;
  }
  .social-media-icons {
    position: absolute;
    height: 48px;
    width: 200px;
    left: 23px;
    top: 245px;
    text-align: center;
  }
  hr.solid {
    position: relative;
    width: 270px;
    height: 1px;
    left: 0px;
    text-align: center;
    top: 430px;
    z-index: 1;
  }
  .main-post-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-post {
    position: relative;
    width: 420px;
    height: 450px;
    top: 510px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    margin: 10px;
    font-size: 0.7em;
  }
  .container-post button {
    margin-left: 155px;
    background-color: #8f44fd;
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 0.4rem;
    background: #8f44fd;
    border: none;
    margin-bottom: 10px;
  }
  .post-date {
    position: absolute;
    top: 17px;
    left: 17px;
    background-color: #bab9be;
    color: white;
    width: 2.7rem;
    height: 1rem;
    border-radius: 0.4rem;
    background: #77838f;
    bottom: 40px;
    border: none;
    z-index: 1;
    font-size: 0.55rem;
    padding-left: 9px;
    padding-top: 0.8px;
  }
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 550px;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 0.8em;
  }
  .pagination a {
    color: #747f8b;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pagination a.active {
    color: white;
    background-color: #8f44fd;
    float: left;
    padding: 5px 15px;
    border-radius: 4px;
    text-decoration: none;
  }
  /* =================
Stay in the know Section
================= */
  .stay-in-the-know {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 590px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #f7fafd;
    height: 300px;
  }
  .stay-in-the-know h1 {
    padding-bottom: 10px;
    letter-spacing: 0.10em;
    font-size: 1.4em;
  }
  .stay-in-the-know p {
    padding-bottom: 10px;
    font-size: 0.7em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .email-submission {
    position: relative;
    font-size: 0.7rem;
    height: 2.4rem;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    width: 300px;
    border: none;
    padding-left: 20px;
    color: #bab9be;
    margin-top: 20px;
  }
  .stay-in-the-know button {
    position: relative;
    height: 30px;
    width: 30px;
    bottom: 37px;
    right: -130px;
    background-color: #8f44fd;
    color: #ffffff;
    border-radius: 3px;
    border: none;
  }
  /* =================
Final Section
================= */
  .finalsection {
    display: none;
  }
  .finalsection p {
    width: 300px;
    left: 300px;
    font-size: 14px;
  }
  .finalsection .closing-address {
    padding-bottom: 82px;
    margin: 0;
  }
  .closing-address h3 {
    padding-left: 72px;
    padding-top: 75px;
    margin: 0;
    font-size: 16px;
    line-height: 5px;
    font-weight: bold;
  }
  hr.solid2 {
    position: relative;
    border-top: 1px solid rgba(140, 139, 139, 0.3);
    width: 100%;
    top: 620px;
    margin: 0, auto;
    height: 1px;
  }
  .legals-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .legals {
    position: relative;
    text-align: center;
    margin: 0, auto;
    top: 620px;
    padding-bottom: 10px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 375px) {
  nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 20%;
  }
  nav li {
    margin-left: 4em;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .profile {
    max-width: 45px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .harry-pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    border: 4px solid #8f44fd;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    top: -50px;
    margin: 0 auto;
  }
  .profile-name {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 48px;
    font-family: Nunito;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 1.425px;
    top: 55px;
    font-size: 25px;
  }
  .profile-header {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 48px;
    font-family: Nunito;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: 1.425px;
    top: 90px;
    font-size: 25px;
  }
  .profile-copy {
    position: absolute;
    height: 48px;
    width: 300px;
    line-height: 20px;
    font-family: Nunito;
    font-size: 13px;
    left: -23px;
    top: 160px;
    text-align: center;
  }
  .social-media-icons i {
    color: #8f44fd;
  }
  .social-media-icons {
    position: absolute;
    height: 48px;
    width: 200px;
    left: 26px;
    top: 232px;
    text-align: center;
  }
  hr.solid {
    position: relative;
    width: 270px;
    height: 1px;
    left: 0px;
    text-align: center;
    top: 430px;
    z-index: 1;
  }
  .main-post-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-post {
    position: relative;
    width: 320px;
    height: 415px;
    top: 510px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    margin: 10px;
    font-size: 0.7em;
  }
  .container-post button {
    position: relative;
    margin-left: 100px;
    background-color: #8f44fd;
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: 0.4rem;
    background: #8f44fd;
    border: none;
  }
  .post-date {
    position: absolute;
    top: 17px;
    left: 17px;
    background-color: #bab9be;
    color: white;
    width: 2.7rem;
    height: 1rem;
    border-radius: 0.4rem;
    background: #77838f;
    bottom: 40px;
    border: none;
    z-index: 1;
    font-size: 0.55rem;
    padding-left: 9px;
    padding-top: 0.8px;
  }
  .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 550px;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 0.8em;
  }
  .pagination a {
    color: #747f8b;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pagination a.active {
    color: white;
    background-color: #8f44fd;
    float: left;
    padding: 5px 15px;
    border-radius: 4px;
    text-decoration: none;
  }
  /* =================
Stay in the know Section
================= */
  .stay-in-the-know {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: 590px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #f7fafd;
    height: 300px;
  }
  .stay-in-the-know h1 {
    padding-bottom: 10px;
    letter-spacing: 0.10em;
    font-size: 1.4em;
  }
  .stay-in-the-know p {
    padding-bottom: 10px;
    font-size: 0.7em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .email-submission {
    position: relative;
    font-size: 0.7rem;
    height: 2.4rem;
    background: #ffffff;
    -webkit-box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    width: 300px;
    border: none;
    padding-left: 20px;
    color: #bab9be;
    margin-top: 20px;
  }
  .stay-in-the-know button {
    position: relative;
    height: 30px;
    width: 30px;
    bottom: 37px;
    right: -130px;
    background-color: #8f44fd;
    color: #ffffff;
    border-radius: 3px;
    border: none;
  }
  /* =================
Final Section
================= */
  .finalsection {
    display: none;
  }
  .finalsection p {
    width: 300px;
    left: 300px;
    font-size: 14px;
  }
  .finalsection .closing-address {
    padding-bottom: 82px;
    margin: 0;
  }
  .closing-address h3 {
    padding-left: 72px;
    padding-top: 75px;
    margin: 0;
    font-size: 16px;
    line-height: 5px;
    font-weight: bold;
  }
  hr.solid2 {
    position: relative;
    border-top: 1px solid rgba(140, 139, 139, 0.3);
    width: 100%;
    top: 620px;
    margin: 0, auto;
    height: 1px;
  }
  .legals-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .legals {
    position: relative;
    text-align: center;
    margin: 0, auto;
    top: 621px;
    padding-bottom: 10px;
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */