html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
}

/* =================
Typography
================= */
h1,
h2,
h3,
a {
  font-family: "Nunito", serif;
  font-weight: 300;
  color: #77838f;
  margin-top: 0;
  letter-spacing: 0.05em;
}

h2 {
  line-height: 1rem;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 400;
}

p {
  font-family: "Nunito", serif;
  font-weight: 300;
  color: #77838f;
  margin-top: 0;
  letter-spacing: 0.03em;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.06em;
}

a {
  color: #8f44fd;
}

strong {
  font-weight: 700;
}

/* =================
Navigation
================= */
.hi-logo {
  height: 30px;
  margin: 10px;
  width: auto;
}

nav {
  height: 50px;
  position: fixed;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  z-index: 2;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20%;
}

nav li {
  margin-left: 6em;
}

nav a {
  text-decoration: none;
  color: #77838f;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 0.25em 0;
  position: fixed;
  top: 11px;
}

nav a:hover,
nav a:focus {
  color: #8f44fd;
  font-size: 0.82rem;
  font-weight: 400;
}

.current-page:hover {
  border-bottom: 1px solid #8f44fd;
}

main {
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-media-icons {
  position: relative;
  top: 11px;
}

.social-media-icons i {
  color: #8f44fd;
}

.social-media-icons i:hover {
  color: #782ceb;
}

/* Solid border */
hr.solid {
  position: relative;
  border-top: 1px solid rgba(140, 139, 139, 0.3);
  width: 35%;
  top: 15px;
  margin: 0, auto;
  height: 1px;
  right: 1px;
}

/* =================
Profile
================= */

#main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}

.card {
  max-width: 800px;
  display: flex;
  padding: 0.1rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 5px solid #8f44fd;
  height: 150px;
  width: 150px;
  transition: transform 50s ease;
}

.avatar:hover {
  border: 5px solid #782ceb;
  transform: rotate(360deg);
}

.user-info {
  color: #828d99;
  margin-left: 2rem;
}

.user.info h2 {
  margin-top: 100px;
  color: #828d99;
  color: pink;
}

.user-info p {
  color: #828d99;
  font-size: 19px;
  margin-bottom: 0;
  max-width: 550px;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  max-width: 400px;
  line-height: 0px;
  margin-top: 5px;
  font-size: 0.75rem;
}

@media (max-width: 375px) {
  .repoStatsMain {
    margin: 1rem;
  }
  .repoStats {
    margin: 0.2rem;
  }
  #repos {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .user-info p {
    font-size: 16px;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}

.user-info li {
  display: flex;
  align-items: center;
  border: solid 1px #f5f6f8;
  padding: 0.7rem;
  border-radius: 5px;
}

.user-info li strong {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: #fff;
  background-color: #8f44fd;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-radius: 5px;
  font-family: Nunito;
}

.repo:hover {
  background-color: #782ceb;
}

@media (max-width: 758px) {
  h2 {
    line-height: 2rem;
  }
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h2 {
    line-height: 2rem;
  }

  .user-info {
    margin-left: 0rem;
  }
  .user-info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* =================
Post Containers
================= */

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding-right: 40px;
}

@media (max-width: 375px) {
  .card-wrapper {
    margin-left: 5px;
    zoom: 0.85;
  }
}

.card-wrapper__card {
  position: relative;
  width: 560px;
  height: 560px;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  border-radius: 5px;
  list-style-type: none;
  margin-bottom: 40px;
  top: 10px;
}

.card-wrapper__card a {
  text-decoration: none;
}

@media (max-width: 758px) {
  .card-wrapper__card {
    margin: 20px;
    zoom: 0.9;
  }
}

@media (max-width: 500px) {
  .card-wrapper__card {
    margin: 20px;
    zoom: 0.7;
  }
}

.card-wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 15px;
}

.container-post img {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 50%;
  border-radius: 3px;
}

.container-post h3,
p {
  text-decoration: none;
}

.container-post p {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0.95rem;
  text-align: center;
}

.container-post button {
  position: relative;
  background-color: #8f44fd;
  color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 0.4rem;
  background: #8f44fd;
  border: none;
  cursor: pointer;
}

.container-post button:hover {
  background: #630ee3;
}

.post-date {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: #929194;
  color: white;
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  bottom: 40px;
  border: none;
  z-index: 1;
  font-size: 0.85rem;
  padding-top: 3px;
  text-align: center;
  font-family: 900;
}

@media (max-width: 375px) {
  .post-date {
    padding-top: 5px;
    font-size: 1.3rem;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .pagination {
    margin: 20px;
    zoom: 0.85;
  }
}

.pagination a {
  color: #747f8b;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.pagination a.active {
  color: white;
  background-color: #8f44fd;
  float: left;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}

/* =================
Stay in the know Section
================= */
.contact-page-frame2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fdfaf7;
  height: 800px;
  top: 50px;
  background-color: #f7fafd;
}

.contact-page-frame2 h1 {
  padding-bottom: 10px;
  letter-spacing: 0.1em;
  font-size: 1.9em;
}

.contact-page-frame2 p {
  padding-bottom: 10px;
  font-size: 0.7em;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
}

input {
  display: block;
  position: relative;
  font-size: 0.9rem;
  height: 2.4rem;
  background: #ffffff;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 360px;
  border: none;
  padding-left: 20px;
  color: #bab9be;
  margin-top: 20px;
}

input:focus {
  outline-width: 0;
  border: #9052fd 2.5px solid;
  cursor: text;
}

input:hover {
  border: #9052fd 2.5px solid;
  cursor: text;
}

#mc_embed_signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  #mc_embed_signup2 {
    zoom: 0.8;
  }
}

#mc-embedded-subscribe {
  margin: 30px auto;
  height: 40px;
  width: 120px;
  background-color: #8f44fd;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.06);
  padding-right: 19px;
}

#mc-embedded-subscribe:hover {
  background-color: #6b3cbb;
}

#mc_embed_signup_scroll2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.response2 {
  display: block;
  position: relative;
  background-color: #f7fafd;
  color: #9052fd;
  font-weight: 900;
  margin-top: 20px;
  width: 100%;
  height: 380px;
  margin: 10px, auto;
  text-align: center;
  font-size: 0.6em;
  background-image: url(https://media.giphy.com/media/3otPoOxyDTXjzpMbIY/giphy.gif?cid=ecf05e474es8dd8oqq4p77ynans9ku60v1mp97dbpwd3htsm&rid=giphy.gif&ct=g);
  background-repeat: no-repeat;
  background-position: center;
}

.contact-submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 90px;
}

/* =================
Final Section
================= */
.finalsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 300px;
}

@media (max-width: 375px) {
  .finalsection {
    zoom: 0.7;
  }
}

.finalsection p {
  display: flex;
  position: relative;
  flex-direction: row;
  font-size: 14px;
  max-width: 250px;
}

.finalsection .closing-address {
  padding-bottom: 82px;
  margin: 0;
}

.closing-address h3 {
  padding-top: 75px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 5px;
  font-weight: bold;
}

hr.solid2 {
  position: relative;
  border-top: 1px solid rgba(140, 139, 139, 0.3);
  width: 100%;
  top: 50px;
  margin: 0, auto;
  height: 1px;
}

.legals-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.legals {
  position: relative;
  text-align: center;
  margin: 0, auto;
  margin-bottom: 100px;
  top: 50px;
  font-size: 10px;
}

/* =================
Media queries
================= */
