@import "variables.scss";
@import "harry-profile.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.6;
  height: 100%;
}

/* =================
Typography
================= */

h1,
h2,
h3,
p {
  font-family: "Nunito", serif;
  font-weight: 300;
  color: $secondary-colour-gray;
  margin-top: 0;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: $primary-colour-purple;
}

strong {
  font-weight: 700;
}

/* =================
Navigation
================= */

.hi-logo {
  height: 30px;
  margin: 10px;
  width: auto;
}

nav {
  height: 50px;
  position: fixed;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  position: absolute;
  right: 20%;
}

nav li {
  margin-left: 6em;
}

nav a {
  text-decoration: none;
  color: $secondary-colour-gray;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 0.25em 0;
  position: fixed;
  top: 13.5px;
}

nav a:hover,
nav a:focus {
  color: $primary-colour-purple;
  font-size: 0.82rem;
}

.current-page:hover {
  border-bottom: 1px solid $primary-colour-purple;
}

/* Solid border */
hr.solid {
  position: absolute;
  border-top: 1px solid $secondary-colour-gray;
  width: 650px;
  top: 190px;
  left: 70px;
}

/* =================
Post Containers
================= */

.container-post {
  position: absolute;
  width: 650px;
  height: 630px;
  left: 70px;
  top: 250px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.container-post img {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 3px;
}

.container-post h3,
p {
  display: flex;
  top: 700px;
  justify-content: center;
  align-items: center;
  margin-left: 32%;
  margin-right: 32%;
}

.container-post p {
  top: 700px;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.container-post button {
  margin-left: 272px;
  background-color: $primary-colour-purple;
  color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 0.4rem;
  background: #8f44fd;
  margin-bottom: 40px;
  border: none;
}

.container-post button:hover {
  background: #8f44fd;
}

.post-date {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: #bab9be;
  color: white;
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  background: $secondary-colour-gray;
  bottom: 40px;
  border: none;
  z-index: 1;
  font-size: 0.85rem;
  padding-left: 9px;
  padding-top: 1px;
}

/* =================
Post Containers 1
================= */

.container-post-1 {
  position: absolute;
  max-width: 750px;
  width: 650px;
  height: 630px;
  left: 70px;
  top: 950px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.container-post-1 img {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 3px;
}

.container-post-1 h3,
p {
  display: flex;
  top: 700px;
  justify-content: center;
  align-items: center;
  margin-left: 32%;
  margin-right: 32%;
}

.container-post-1 p {
  top: 700px;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.container-post-1 button {
  margin-left: 272px;
  background-color: $primary-colour-purple;
  color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 0.4rem;
  background: #8f44fd;
  margin-bottom: 40px;
  border: none;
}

.container-post-1 button:hover {
  background: #8f44fd;
}

.post-date {
  position: absolute;
  top: 30px;
  left: 40px;
  background-color: #bab9be;
  color: white;
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  background: $secondary-colour-gray;
  bottom: 40px;
  border: none;
  z-index: 1;
  font-size: 0.85rem;
  padding-left: 9px;
  padding-top: 1px;
}

/* =================
Post Containers 2
================= */

.container-post-2 {
  position: absolute;
  max-width: 750px;
  width: 650px;
  height: 630px;
  left: 70px;
  top: 1650px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
}

.container-post-2 img {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 3px;
}

.container-post-2 h3,
p {
  display: flex;
  top: 700px;
  justify-content: center;
  align-items: center;
  margin-left: 32%;
  margin-right: 32%;
}

.container-post-2 p {
  top: 700px;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

.container-post-2 button {
  margin-left: 272px;
  background-color: $primary-colour-purple;
  color: white;
  width: 6rem;
  height: 2rem;
  border-radius: 0.4rem;
  background: #8f44fd;
  margin-bottom: 40px;
  border: none;
}

.container-post-2 button:hover {
  background: #8f44fd;
}

.pagination {
  position: absolute;
  display: inline-block;
  top: 2350px;
  left: 230px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  color: white;
  background-color: #8f44fd;
  float: left;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
}

/* =================
Stay in the know Section
================= */

.stay-in-the-know {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 2000px;
  height: 400px;
  top: 2300px;
  right: -945%;
  background: #f7fafd;
}

.stay-in-the-know p {
  padding-bottom: 20px;
}

.fix {
  position: absolute;
  width: 100%;
  left: -310px;
  margin: 0%;
}

footer {
  position: relative;
}

.email-submission {
  display: flex;
  font-size: 0.7rem;
  height: 2.4rem;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  width: 300px;
  border: none;
  padding-left: 20px;
  color: #bab9be;
}

.stay-in-the-know button {
  position: absolute;
  bottom: 127px;
  left: 1115px;
  height: 30px;
  width: 30px;
  background-color: #8f44fd;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}
