/* =================
Font Colours
================= */

$primary-colour-purple: #5d5fef;
$secondary-colour-gray: #77838f;

/* =================
Background Colours
================= */

$background-colour-purple: #5d5fef;
$background-colour-gray: #77838f;
