/* =================
Font Colours
================= */

$primary-colour-purple: #8f44fd;
$secondary-colour-gray: #77838f;

/* =================
Background Colours
================= */

$background-colour-purple: #8f44fd;
$background-colour-gray: #77838f;
